@media (min-width: 768px) {
  .desktop-menu {
    display: flex !important;
  }
  .mobile-menu-button {
    display: none !important;
  }
  .cart-btn-desktop {
    display: flex !important;
  }
  .cart-btn-mobile {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .desktop-menu {
    display: none !important;
  }
  .mobile-menu-button {
    display: block !important;
  }
  .cart-btn-desktop {
    display: none !important;
  }
  .cart-btn-mobile {
    display: flex !important;
  }
}
